footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    text-align: center;
    font-size: x-large;
    color: white;
    width: 98vw;
    background-color: rgba(60, 76, 93, 0.915);
    margin: auto;
    
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    text-align: center;
    font-size: x-large;
    color: white;
    width: 98vw;
    margin: auto;
    background-color: rgb(66, 99, 66);
   
}
 nav{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    color: white;
    margin: auto;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(105, 108, 108, 0.717);
}
.profile-pic{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    width: 11vw;
    position: relative;
    margin: auto;
    margin-top: 20px;
    border: solid 10px;
    border-color: white;
}
.Pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 20vw
    
    
}
.active{
    color: white;
}
a{
    color: white;
    
}
#about-header{
    font-size: xx-large;
}
.about-image{
    display: flex;
    width: 33%;
    justify-content: left;
    align-items: center;
    
    margin:15px;

}
.about-section{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: auto;
    margin-left: 4vw;
    margin-right: 4vw;
    width: 85vw;
    
}
.about-image2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    margin-left: 4vw;
    margin-right: 4vw;
   
}
.page-2{
    border-top:solid 2px;
    border-color: white;
    text-decoration: underline;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width: 75vw;
}
.about-section2{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    position: relative;
    margin: auto;
    width: 85vw;
    margin-left: 4vw;
    margin-bottom: 2vh;
}
.movies2{
    width: 33%;
}
.about-header3{
    font-style: italic;
    text-decoration: underline;
}
.page3{
    border-top:solid 2px;
    border-color: white;
    
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width: 75vw;
}
.port-section{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: auto;
    margin-left: 4vw;
    margin-right: 4vw;
    width: 85vw;
}
.port-image{
    display: flex;
    width: 33%;
    justify-content: left;
    align-items: center;
    margin:15px;

}
.port-graduate{
    align-items: left;
    display: flex;
    flex-direction: column;
    
}
.port-list{
    width: fit-content;
}
.port-section2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-left: 4vw;
    margin-right: 4vw;
    width: 85vw;
    
}
.port-image2{
    display: flex;
    width: 33%;
    justify-content: right;
    align-items: center;
    margin:15px;    
}